<section class="content-header">
    <h1>小时数据</h1>
    <ol class="breadcrumb">
        <li><a href="${basePath}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">历史数据</a></li>
        <li class="active">小时数据</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- /.col -->
        <div class="col-md-4">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="dataTables_filter" id="searchDivStation">
                    <input type="search" placeholder="请输入企业名称" title="企业名称" name="a.name"
                           class="form-control" operator="like" likeOption="true">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="search">查询</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="waterhour_stationinfo_table" class="table table-bordered table-striped table-hover">
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-8">
            <!-- Profile Image -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="dataTables_filter" style="margin:10px 10px 0 0" id="searchDiv_func">
                    <input type="hidden" name="mn" value="-1" id="mn"/>
                    <input type="text" class="form-control" data-flag="datepicker" data-format="yyyy-mm-dd" name="btime" id="btime" placeholder="开始日期">
                    <input type="text" class="form-control" data-flag="datepicker" data-format="yyyy-mm-dd" name="etime" id="etime" placeholder="结束日期">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-btn-type="searchFunc" id="searchFunc">查询</button>
                    </div>
                    <button type="button" class="btn btn-info" data-pagename="waterhour_list" data-btn-type="custom"><i class="fa fa-check-square-o"></i>&nbsp;自定义列</button>
                </div>
                <div class="box-body">
                    <table id="waterhour_table" class="table table-bordered table-striped table-hover"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->


</section>

<script>


    var stationinfoTable,waterhourTable, winId = "winWaterHourChart";
    $(function () {
        var config={
            rowClick:function(row,isSelected){
                $("#mn").val(isSelected?row.mn:"-1");
                $("#entName").remove();
                if (isSelected){
                    $("#searchDiv_func").prepend("<h5 id='entName' class='pull-left'>【" + row.name + "】</h5>");
                    waterhourTable.reloadData();
                }
            }
        }
        stationinfoTable = new CommonTable("waterhour_stationinfo_table", "jp_station_info_menu", "searchDivStation", config);
        waterhourTable = new CommonTable("waterhour_table", "jp_water_hour", "searchDiv_func", null);

        $("#searchFunc").bind("click",function(){//2019-01-01
            if($("#mn").val()==-1){
                modals.info('请选择要查询的企业');
                return;
            }
            waterhourTable.reloadData();
        });

        $("#btime").datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            clearBtn: true,
            todayHighlight: true
        });
        var firstDate = new Date();
        firstDate.setDate(1); //第一天
        $("#btime").datepicker('setDate',new Date(firstDate)); //设置为当前日期

        $("#etime").datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            clearBtn: true,
            todayHighlight: true
        });
        $("#etime").datepicker('setDate',new Date(firstDate)); //设置为当前日期
//        $("#etime").datepicker('setDate',new Date()); //设置为当前日期
    })

    //超标警告
    function fnRenderMonitor(value,type,rowObj) {
//         console.log(value,type,rowObj);
        if(rowObj.w00000>rowObj.w01001){
            return '<span class="label label-danger">'+value+'</span>';
        }else if(rowObj.w00000>rowObj.w01018){
            return '<span class="label label-warning">'+value+'</span>';
        }else {
            return value;
        }
    }


    //网络
    function fnRenderMonitor2(value,type,rowObj) {
        if(rowObj.w00000<30000){
        // return '<i class="fa text-red">111</i>';
//            return '<i class="fa fa-connectdevelop text-red"></i>';
            return '<i class="fa fa-circle text-yellow"></i>';
        }else{
//            return '<i class="fa fa-connectdevelop text-yellow"></i>';
           return '<i class="fa fa-circle text-green"></i>';
        }
    }

    function fnRenderMonitor3(value, type,rowObj) {
        if(rowObj.w00000>rowObj.w01001){
            return '<span class="label text-red">'+value+'</span>';
        }else if(rowObj.w00000>rowObj.w01018){
            return '<span class="label text-yellow">'+value+'</span>';
        }else {
            return value;
        }
    }

    //渲染图表图标
    function fnRenderChart(value,type,rowObj) {
        return "<a href='#' onclick='showCharts(\""+$('#mn').val()+"\",\""+$('#btime').val()+"\",\""+$('#etime').val()
                +"\")'><i class='fa fa-bar-chart'></i></a>";
    }

    function showCharts(mn,btime,etime) {
//        console.log(mn,btime,etime);
        modals.openWin({
            winId: winId,
            title: '图表',
            width: "1000px",
            url: basePath + "/waterhour/chart?mn="+mn+"&btime="+btime+"&etime="+etime
        })
    }

</script>
